<br>
<div class="center">
    <h5>List Parked of Cars</h5>
    <hr>
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Name</th>
                <th>Colour</th>
                <th>Vechile Number</th>
                <th>Moblie</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>John</td>
                <td>Red</td>
                <td>KA05-C9082</td>
                <td>9739279356</td>
                <td>
                    <button type="submit" class="btn btn-primary" [disabled]="!form.valid">
              Checkout
            </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>