<br>
<div class="center">
    <br>
    <label>
    Name:
   <input type="text" [formControl]="name">
  </label>
    <br>
    <label>
    Colour:
   <input type="text" [formControl]="name">
  </label>
    <br>
    <label>
    Vechile Number:
  <input type="text" [formControl]="name">
  </label>
    <br>
    <label>
        Mobile Number:
      <input type="text" [formControl]="name">
      </label>
    <br>
    <button type="submit" class="btn btn-primary" [disabled]="!form.valid">
      Submit
    </button>
</div>